@import "../node_modules/featherlight/release/featherlight.min";

.masonry_gallery {
    margin: 0 -20px 30px;
    padding: 0;
    list-style: none;
    .grid_item  {
        width: #{100% / 2};

        @media (min-width: 768px) {
            width: #{100% / 3};
        }


        a {
            border: 0;
            padding: 20px;

            img {
                width: 100%;
                height: auto;
                transition: box-shadow 0.3s;

                box-shadow: 0 4px 5px transparentize($medium_grey, 0.7);
            }

            &:hover {
                background: none;
                img {
                    box-shadow: 0 6px 7px transparentize($medium_grey, 0.6);
                }

            }
        }

    }
}
